<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- Search Box -->
        <shared-search-box
          [initialValue]="initialValue"
          (onDebounce) = "searchByCountry($event)"
          placeholder="Buscar por País">
        </shared-search-box>

    </div>
</div>

<div class="row">
    <div class="col">
        <hr> 
       <!-- Spinner de carga -->  
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>    
      <!-- Tabla de Resultados-->
      <countries-table [countries]="countries"></countries-table>

    </div>
</div>